body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-size: 200%;
}

canvas {
	z-index:0;
	width: 100%; height: 100%;
}

div {
	/*border-style:solid;*/
}

h1 {
	text-align: center;
}

p {
	padding: 5px;
}

video {
	width:100%;
	height:100%;
	background-color:black;
}

.panel {
	background-color:rgba(250,250,250,0.9);
}

.thumbdiv {
	/*height:90%;
	width:90%;
	margin: auto auto;*/
	cursor:pointer;
}

.thumbtitle {
	margin: 0 0 0 5%;
}

.thumbimage {
	width:100%;
	height:80%;
	/*background-image:url(./gattino.jpg);*/
	background-size:100% 100%;
}

.playicon {
	display:inline-block;
	width: 30%;
	height: 30%;
	background-image:url(./play.png);
	background-size:100% 100%;
	margin: 0 0 0 0;
}

.thumbduration {
	display:inline-block;
	padding: 2px;
	color:white;
	background-color:rgba(0,0,0,0.6);
	float:right;
}

.thumbdescription {
	color:white;
	text-align:center;
	margin: 0 0 0 0; 
}

.videodiv {
	display:none;
}

.more {
	display:none; /* jquery opens them when necessary */
	height:50%;
	background-color:white;
	text-align:justify;
	overflow:auto;
}

.button {
	cursor:pointer;
	background-color:gray;
	margin: 2;
	padding: 2;
}

.searchbutton {
	padding:1;
	color:white;
	background-color:black;
	display:inline-block;
	float:left;
	margin:0;
	padding:1px;
	cursor:pointer;
	text-align:center;
}

.button:active, .searchbutton:active{
	box-shadow: 0 0 10px #000 inset;
}

#header {
	position:absolute;
	width:100%;
	height:30;
	float:left;
	font-size: 50%;
}

#searchbox {
	z-index:1;
	width:50%;
	height:auto;
	padding: 3;
	position:relative;
	margin: auto auto;
	background-color:gray;
	overflow:hidden;
}

#searchinput {
	float:left;
	width:60%;
	height:100%;
	color: gray;
	background-color:white;
}

#deletesearch {
	display:none;
	background-color:white;
	width:5%;
	color:red;
	float:left;
	text-align: center;
}

#searchbox, .button, .searchbutton {
	box-shadow: 0 0 20px #000;
}

#advancedsearch {
	clear: both;
	padding:3px;
	display:none;
}

#advancedsearch > .more {
	height:150px;
}

#advsearchbutton {
	width:80%;
	margin-left:10%;
	margin-right:10%;
}

#videosides {
	position:absolute;
	width:100%;
	height:50%;
	top: 30%;
	font-size: 50%;
}

#videoleft {
	z-index:1;
	position:relative;
	background-color:none;
	height: 100%;
	width: 20%;
	float: left;	
}

#videoright {
	z-index:1;
	position:relative;
	text-align: right;
	background-color:none;
	width: 20%;	
	height: 100%;
	float: right;
}

#videobottom {
	z-index:1;
	position:absolute;
	background-color:none;
	width: 60%;
	height: 20%;
	left: 20%;
	bottom:2%;	
	font-size: 50%;
}

#videobottom > .button {
	float: left;
	width: 30%;
	height: 90%;
	display:block;
}

#map {
	height:100%;
	width:100%;
}

